a.nav-link {
  margin: 1rem 0.5rem 0 1rem;
  font-size: 0.75rem;
  color: #6c6c6c;
}

.nav-link.left-side-menu {
  margin: 1rem 1rem 0 1rem;
}

nav a.nav-link:hover {
  color: #282c34;
}

.singup-btn {
  margin: 1rem 1rem 0 1rem;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #68dcb7;
  border-radius: 4px 20px 20px 20px;
  border: none;
  padding: 0 1rem 0 1.5rem;
}

svg.btn-icon {
  font-size: 0.5rem;
  margin-left: 0.5rem;
}

.row.nav-bar {
  box-shadow: 0 2px 0 #d4d4d4;
  width: 100%;
}

.background {
  height: 100vh;
  padding: 0 0 0 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}

.box {
  height: 100vh;
  width: 100vw;
  background-color: #4b24e4;
  border-radius: 40px;
  position: relative;
  left: 15%;
  bottom: 30%;
  transform: rotate(-4deg);
}

div.container {
  padding: 6rem 10rem 0 10rem;
}

div.text-column {
  color: #ffffff;
  padding-right: 25px;
}

b.green-text {
  color: #68dcb7;
}

button.green-text {
  font-size: 0.75rem;
  color: #68dcb7;
  background-color: transparent;
  border: none;
  padding: 0;
}

h1 {
  padding-bottom: 1.5rem;
}

.currency-app-shadow-background {
  background-color: #e9f6ff;
  border-radius: 15px;
  width: 350px;
  height: 400px;
  transform: rotate(-5deg);
  position: relative;
  right: 10%;
  bottom: 10%;
  z-index: -99;
}

.currency-app-background {
  padding: 5rem 1rem 2rem 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  width: 350px;
  height: 400px;
  position: absolute;

  /* position: absolute; */
}

input.currency-input {
  border-radius: 15px;
  font-size: 0.75rem;
}

button.dropdown-toggle {
  border-radius: 15px;
  border-color: #d9d9d9;
  /* color: #f7931a; */
  font-size: 0.6rem;
}

button.dropdown-toggle:hover {
  background-color: #d9d9d9;
}
svg.eur-icon {
  color: #f7931a;
  font-size: 1.25rem;
}
svg.btc-icon {
  color: #f7931a;
  font-size: 1.25rem;
}
